<form [formGroup]="form">
  <kendo-dialog
    *ngIf="opened"
    (close)="modalClosed('cancel')"
    [minWidth]="250"
    [width]="450"
  >
    <div class="form-group">
      <h3 class="text-center">Add new User</h3>
      <p>
        <kendo-label [for]="name" text="User name"></kendo-label>
      </p>
      <kendo-textbox
        formControlName="name"
        [clearButton]="true"
        #name
        placeholder="Your name"
      ></kendo-textbox>
      <kendo-formerror *ngIf="hasErrors('name')"
        >Name should be 5-15 characters long
      </kendo-formerror>
    </div>

    <div class="form-group">
      <p>Gender</p>
      <kendo-multiselect
        [maxlength]="1"
        formControlName="gender"
        [data]="listOfGenders"
        textField="text"
        valueField="value"
        placeholder="Your gender"
      ></kendo-multiselect>
      <kendo-formerror *ngIf="hasErrors('gender')"
        >Choose your gender</kendo-formerror
      >
    </div>

    <div class="form-group">
      <p>Select your birthday:</p>
      <kendo-datepicker
        format="dd/MM/yyyy"
        formControlName="birthday"
        placeholder="Your birthday"
        #birthday
      ></kendo-datepicker>
      <kendo-formerror *ngIf="hasErrors('birthday')"
        >Your birthday should be before start/end day to
        courses</kendo-formerror
      >
    </div>

    <div class="form-group">
      <p>Learning course</p>
      <kendo-multiselect
        [data]="listOfCourses"
        [maxlength]="1"
        textField="text"
        valueField="value"
        formControlName="course"
        placeholder="Your course"
        #course
      ></kendo-multiselect>
      <kendo-formerror *ngIf="hasErrors('course')"
        >Choose the course</kendo-formerror
      >
    </div>

    <div class="form-group">
      <p>Select a Learning start date:</p>
      <kendo-datepicker
        format="dd/MM/yyyy"
        formControlName="learningStartDate"
        placeholder="Your start date"
        #learningStartDate
      ></kendo-datepicker>

      <kendo-formerror *ngIf="hasErrors('learningStartDate')"
        >Start learning day should be before End Day
      </kendo-formerror>
    </div>

    <div class="form-group">
      <p>Select a Learning end date:</p>
      <kendo-datepicker
        format="dd/MM/yyyy"
        formControlName="learningEndDate"
        placeholder="Your end date"
        #learningEndDate
      ></kendo-datepicker>

      <kendo-formerror *ngIf="hasErrors('learningEndDate')"
        >End learning day should be after Start Day
      </kendo-formerror>
    </div>

    <kendo-dialog-actions>
      <button kendoButton (click)="modalClosed('cancel')">Cancel</button>
      <button
        type="submit"
        kendoButton
        (click)="submit()"
        [primary]="true"
        [disabled]="!form.valid"
      >
        <span *ngIf="!updateUser">Add</span>
        <span *ngIf="updateUser">Update</span>
      </button>
    </kendo-dialog-actions>
  </kendo-dialog>
</form>
