<kendo-grid *ngIf="users.length > 0" [data]="users" [height]="400">
  <kendo-grid-column field="name" title="User Name"> </kendo-grid-column>
  <kendo-grid-column field="gender" title="Gender"> </kendo-grid-column>
  <kendo-grid-column field="birthday" format="dd/MM/yyyy" title="Birthday">
  </kendo-grid-column>
  <kendo-grid-column field="course" title="Learning Course">
  </kendo-grid-column>
  <kendo-grid-column
    field="learningStartDate"
    format="dd/MM/yyyy"
    title="Learning Start Date"
  >
  </kendo-grid-column>
  <kendo-grid-column
    field="learningEndDate"
    format="dd/MM/yyyy"
    title="Learning End Date"
  >
  </kendo-grid-column>
  <kendo-grid-column title="Actions" field="name">
    <ng-template kendoGridCellTemplate let-dataItem>
      <button kendoButton (click)="editUser(dataItem)">Edit</button>
      <button kendoButton [primary]="true" (click)="removeUser(dataItem)">
        Remove
      </button>
    </ng-template>
  </kendo-grid-column>
</kendo-grid>
